#ggl-map {
    width: 300px;
    height: 300px;
    margin: 0;
    padding: 0;
    
}

* { 
 -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
 -moz-box-sizing: border-box;    /* Firefox, other Gecko */
 box-sizing: border-box;         /* Opera/IE 8+ */
}

#wrapper {
	width: 100%;
	height: 100%;
}


h2 {
	text-transform: uppercase;
	font-size: 12px;
	font-weight: normal;
}

header {
	position: absolute;
	left: 0;
	top: 0;
	width: 20%;
	float: left;
}

#content {
	margin: 0 auto;
	width: 40%;
	height: 100%;
}

#content a {
	color: #fff;
}

footer {
	position: absolute;
	right: 0;
	top: 0;
	width: 20%;
	float: right;
	text-align: center;
}

footer a {
	color: #fff;
}

#logo {
	background-image: url(/templates/rt_afterburner/images/logo.png);
	display:block;
	height: 186px;
	width: 168px;
	margin: 0px 30px 60px 30px;
}


#nav ul {
	margin-left: 40px;
	padding: 0;
}

#nav li {
	list-style: none;
	width: 140px;
	margin-bottom: 5px;
	background-color: #164777;
}

#nav a {
	text-decoration: none;
	display: block;
	width: 145px;
	height: 20px;
	font-family: Arial;
	font-size: 11.5px;
	font-weight: normal;
	text-align: center;
	color: #fff;
}

#nav li.active  a{
	background-color: #4dbeee;
	color: #000;
}

#nav li a:hover, #nav li:hover a, #nav li.sfHover a {
	background:#007EBA;
	color:#fff;
}

.content-toggler {
	background-color: #164777;
	background-color: rgba(22, 71, 119 0.25);
	color: #fff;
	padding: 20px !important;
	width: 100% !important ;
	float: left;
	height: 80%;
	opacity: 1 !important;
}

.moduletableform {
	display: block;
	float:left;
	margin: 0 50px;
}

.moduletablemap {
	display: block;
	float: right;
	margin: 0 50px;
}

.mod-languages {
	background-color: #fff;
	width: 120px;
	float: right;
	overflow: hidden;
}

.mod-languages li {
	background-color: #164777;
	color: #fff;
}

.lang-active a{
	background-color: #fff !important;
	color: #164777 !important;
}

.reqform {
	background-color: #f58220;
	width: 120px;
	float: right;
	overflow: hidden;
}

.lowprice {
	background-color: #164777;
	color: #fff;
	width: 120px;
	float: right;
	overflow: hidden;
}

.toggle-trigger {
	background-color: #164777;
	background-color: rgba(22, 71, 119 0.25);
	color: #fff;
	width: 100%;
	margin: 0;
	padding: 20px;
	cursor: pointer;
	float: left;
}


/*
 * CSS Styles that are needed by jScrollPane for it to operate correctly.
 *
 * Include this stylesheet in your site or copy and paste the styles below into your stylesheet - jScrollPane
 * may not operate correctly without them.
 */

.jspContainer
{
	overflow: hidden;
	position: relative;
}

.jspPane
{
	position: absolute;
}

.jspVerticalBar
{
	position: absolute;
	top: 0;
	right: 0;
	width: 16px;
	height: 100%;
	background: rgb(11, 23, 33);
}

.jspHorizontalBar
{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 16px;
	background: red;
}

.jspCap
{
	display: none;
}

.jspHorizontalBar .jspCap
{
	float: left;
}

.jspTrack
{
	
	position: relative;
	height: 40px;
}

.jspDrag {
	color: rgb(60, 156, 215);
	position: relative;
	top: 0;
	left: 0;
	cursor: pointer;
}

.jspHorizontalBar 
.jspHorizontalBar 
{
	float: left;
	height: 100%;
}

.jspArrow
{
	background: #50506d;
	text-indent: -20000px;
	display: block;
	cursor: pointer;
	padding: 0;
	margin: 0;
}

/*.jspArrow.jspDisabled
{
	cursor: default;
	background: #80808d;
}*/

.jspVerticalBar .jspArrow
{
	height: 16px;
}

.jspHorizontalBar .jspArrow
{
	width: 16px;
	float: left;
	height: 100%;
}

.jspVerticalBar .jspArrow:focus
{
	outline: none;
}

.jspCorner
{
	background: #eeeef4;
	float: left;
	height: 100%;
}

/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html .jspCorner
{
	margin: 0 -3px 0 0;
}

.scroll-pane {
    height: 100%;
    overflow: auto;
    width: 100%;
}

/*height 100% se ola ta divv*/

#colmid {
	height: 100%;
}

#colright {
	height: 100%;
}

#col1wrap {
	height: 100%;
}

#col1pad {
	height: 100%;
}

#col1 {
	height: 100%;
}

.component-pad {
	height: 100%;
}

.item-page {
	height: 100%;
}


.jlv-navigation {
	display: none !important;
}

.jlv-gallery .jlv-content {
    border: none;
}

.copyright {
	display: none;
}

.jlv-gallery img {
	border: none;
	border-radius: 0;
}


.articlepic {
	width: 33%;
	height: 150px;
	padding: 5px;
}

.welcome {
	float: right;
	margin-right: 20px;
	text-align: right;
}

.line01 {
	text-transform: uppercase;
	font-size: 20.96px;
	font-weight: normal;
}

.line02 {
	font-size: 14.4px;
	font-weight: normal;
}

.line03 {
	font-size: 21.96px;
	font-weight: normal;
	letter-spacing: 2.5px;
}


.social {
	width: 18px;
	height: 18px;
	background-image: url(/templates/rt_afterburner/images/fb_icon.png);
	float: right;
}